@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$text-colour-1: #1B1A24;
$text-colour-2: #575565;
$text-colour-3: #ABA8BC;

$primary-colour-1: #6C65CC;
$primary-colour-2: #9E99E3;
$primary-colour-3: #CCC9F0;
$primary-colour-4: #EEEDFA;
$primary-colour-5: #f5f5fc;
$primary-colour-dark: #544cb6;

$sec-colour-1: #FFA74C;
$sec-colour-2: #FABB79;
$sec-colour-3: #FAC8A2;
$sec-colour-4: #FEF0E5;

$dark-theme-1: #1F2128;
$dark-theme-2: #242731;
$dark-theme-3: #292B31;
$dark-theme-4: #373A43;

$light-theme-1: #FFF;
$light-theme-2: #F8F8F8;
$light-theme-3: #F2F2F2;
$light-theme-4: #BDBEC6;

$blue-main: #007BFF;
$blue-light: #CCE5FF;
$blue-clear: #EFF5FC;

$success-colour: #28A745;
$error-colour: #FFC107;
$pending-colour: #DC3545;

$font-stack: Roboto, sans-serif; 
