@import "./variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-stack;
    font-weight: 500;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

input {
  border: none;
  color: $text-colour-2;
  font-weight: 500;
}

input:focus {
  outline: none;
  color: $text-colour-2;
}

.df {
  display: flex;
}


