$primary-colour-1: #6C65CC;
$primary-colour-2: #9E99E3;
$primary-colour-3: #CCC9F0;
$primary-colour-4: #EEEDFA;

$sec-colour-1: #FFA74C;
$sec-colour-2: #FABB79;
$sec-colour-3: #FAC8A2;
$sec-colour-4: #FEF0E5;

$dark-theme-1: #1F2128;
$dark-theme-2: #242731;
$dark-theme-3: #292B31;
$dark-theme-4: #373A43;

$light-theme-1: #FFF;
$light-theme-2: #F8F8F8;
$light-theme-3: #F2F2F2;
$light-theme-4: #BDBEC6;

$blue-main: #007BFF;
$blue-light: #CCE5FF;
$blue-clear: #EFF5FC;

$success-colour: #28A745;
$error-colour: #FFC107;
$pending-colour: #DC3545;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

h1 {
    color: blue;
    font-size: 16px;
}

.clickDiv {
  color: red;
}