@import "../../scss/variables";
@import "../../scss/style.scss";

$search-padding: 5px 10px;
$search-radius: 20px;
$search-text-size: 14px;
$search-size: 275px;

.search-container {
    background-color: $light-theme-3;
    padding: $search-padding;
    width: $search-size;
    border-radius: $search-radius;
}

.search-label {
    align-items: center;
}

.input-search {
    padding: $search-padding;
    background-color: inherit;
}
